@model Models.UserModel

<h5>Account data</h5>
<p class="alert-danger">@TempData["command"]</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" value="@Model.Username" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" value="@Model.Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <h5>Preferences</h5>
            <hr />
            <div class="form-group">
                <label asp-for="Kcal" class="control-label"></label>
                <input asp-for="Kcal" class="form-control" value="@Model.Kcal" />
                <span asp-validation-for="Kcal" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Lactose" /> @Html.DisplayNameFor(model => model.Lactose)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Gluten" /> @Html.DisplayNameFor(model => model.Gluten)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    
                        <input class="form-check-input" asp-for="Meat" /> @Html.DisplayNameFor(model => model.Meat)

                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

